{% extends 'auctions/layout.html' %}
{% load static %}

{% block title %}
{{ listing.name }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h3 class="font-weight-bold">Listing: {{ listing.name }}</h3>
    <img class="col-md-3 p-2" src="{{ listing.image.url }}">
    {% if not listing.description %}
        <p class="text-muted p-2">no description.</p>
    {% else %}
        <p class="text-muted p-2">{{ listing.description }}</p>
    {% endif %}
    <h4 class="col-md-3 p-2 font-weight-bold">${{ listing.price }}<h4>
    <form class="form-inline col-md-3 p-2">
        <div class="form-group pr-2">
            <small class="form-text text-muted"></small>
            <input type="text" class="form-control" placeholder="your bid">
        </div>
        <button type="submit" class="btn btn-primary">Place Bid</button>
    </form>
    <div>
        <h4 class="col-md-3 p-2 font-weight-bold">Details:</h4>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

{% endblock %}